.cart {
    width: 70%;
    height: auto;
}
/* .cart::-webkit-scrollbar {
    width: 10px;
}
.cart::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}
.cart::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px; 
}
.cart::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

.cart__header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
    height: 100%;
    margin-left: 3%;
}
.cart__title {
    font-weight: 700;
    font-size: 30px;
}
.cart__clear-button {
    width: 10%;
    border: #000 solid 3px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}


.cart__list {
    width: 100%;
    height: 80%;
}
.cart__item {
    width: 100%;
    height: 20%;
    display: flex;
    border-top: 2px rgb(245, 245, 245) solid;
    
}


.cart__item-left-side {
    display: flex;
    align-items: center;
    width: 50%;
}
.cart__item-image {
    width: 30%;
    height: 70%;
}






.cart__item-right-side {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__item-quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}

.cart__item-quantity::-webkit-outer-spin-button,
.cart__item-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart__item-quantity {
    height: 100%;
    border: none;
    outline: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.cart__item-dec,
.cart__item-inc {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.cart__item-dec:hover,
.cart__item-inc:hover {
    background-color: rgb(49, 49, 49);
    transition: all 0.3s;
}

.cart__item-delete-button {
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px rgb(168, 168, 168) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2%;
}
.cart__item-cross,
.cart__item-cross::before {
    position: relative;
    width: 20px;
    height: 5px;
    background-color: rgb(168, 168, 168);
    border-radius: 20px;
}
.cart__item-cross {
    transform: rotate(45deg);
}
.cart__item-cross::before {
    content: "";
    position: absolute;
    transform: rotate(-90deg);
}





.cart__summary {
    display: flex;
    justify-content: space-between;
}


.cart__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.cart__back,
.cart__submit {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

.cart__submit {
    background-color: rgb(255, 136, 0);
    color: #fff;
}

.cart__back {
    background-color: transparent;
    border: 2px rgb(168, 168, 168) solid;
}

.cart__back a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(168, 168, 168);
}