.home {
    font-size: 24px;
    width: 80%;
    font-family: sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
}


/* PIZAA BLOCK */
/* PIZAA BLOCK */
/* PIZAA BLOCK */
/* PIZAA BLOCK */
/* PIZAA BLOCK */
.pizza {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    width: 400px;
}

.pizza__photo {
    width: 300px;
    height: 300px;
}

.pizza__content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pizza__description {
    font-size: 14px;
    width: 80%;
    height: 40%;
    /* background-color: red; */
    overflow-wrap: break-word;
}

.pizza__select-container {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza__start-price {

}

.pizza__order-button {
    width: 50%;
    height: 100%;
    background: #000;
    font-weight: 700;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* popup */
/* popup */
/* popup */
/* popup */
/* popup */
.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup {
    width: 75%;
    height: 70%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
}

.popup__photo {
    width: 40%;
    height: 85%;
}

.popup__content {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.popup__radios-container {
    position: relative;
    width: 70%;
    height: 6%;
    background: rgb(218, 215, 215);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup__radios-items {
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__radios-item {
    width: 32.5%;
    height: 80%;
    position: relative;
}

.popup__radio {
    z-index: 20;
    opacity: 0;
} 

.popup__radio:checked + .popup__custom-radio {
    background: #fff;
    transition: all 0.3s;
}

.popup__custom-radio {
    transition: all 0.3s;
}

.popup__radio,
.popup__custom-radio {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.popup__custom-radio {
    border-radius: 10px;
    background-color: rgb(170, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.popup__description {
    font-size: 14px;
    width: 80%;
}

.popup__select-container {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__order-button {
    width: 50%;
    height: 10%;
    background: #000;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.close-button-container {
    position: absolute;
    top: 0;
    right: -60px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.close-button-container:hover {
    transition: all 0.3s;
    filter: brightness(0) saturate(100%) invert(25%) sepia(19%) saturate(0%) hue-rotate(172deg) brightness(94%) contrast(104%);
}

/* .close-button-container:hover .close-button,
.close-button-container:hover .close-button .close-button::before {
    transition: all 0.3s;
    width: 55px;
} */

.close-button,
.close-button::before {
    width: 50px;
    height: 7px;
    background: #000;
    border-radius: 20px;
    transition: all 0.3s;
} 

.close-button {
    position: relative;
    transform: rotate(45deg)
}

.close-button::before {
    position: absolute;
    content: "";
    transform: rotate(90deg);
}













.popup__extras-container {
    width: 80%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__extras-item {
    width: 32%;
    height: 100%;
    padding: 5px 0 5px 0;
    position: relative;
}

.popup__extra-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
}

.popup__extra-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #000 solid 3px;
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5px 0 5px 0;
    transition: all 0.3s;
}

.popup__extra-checkbox:checked + .popup__extra-container {
    border: rgb(220, 235, 21) solid 3px;
    border-radius: 30px;
    transition: all 0.3s;
}

.popup__extra-photo {
    width: 65%;
    height: 60%;
}

.popup__extra-info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup__extra-name {
    font-size: 14px;
}











.popup__quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 6%;
}

.popup__quantity::-webkit-outer-spin-button,
.popup__quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup__quantity {
    height: 100%;
    border: none;
    outline: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.popup__dec,
.popup__inc {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

.popup__dec:hover,
.popup__inc:hover {
    background-color: rgb(49, 49, 49);
    transition: all 0.3s;
}