.navigation {
    width: 40%;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.navigation__item a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.loginIn, .loginOut, .btn {
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: rgb(255, 136, 0) solid 3px;
    color: #fff;
    background: #000;
    cursor: pointer;
    font-size: 18px;
}

.loginIn {
    border: rgb(255, 136, 0) solid 3px;
    background-color: #fff;
}